#!/bin/sh -e
exec 2>&1
exec chpst -u {{ devops_la_challenges_flask_user }} gunicorn --workers={{ ansible_processor_vcpus*2 + 1}} --bind 127.0.0.1:8000 --chdir {{ devops_la_challenges_flask_dir }} app:app
